@media screen and (max-width: 640px){
  
	#navi {
		display: none;
	}

}

#navi{
	background: rgba(0,0,0,0.2);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	text-align: center;
}

#navi li{
	padding: 14px;
	display: inline-block;
}

#navi li a{
	color: #fff;
	font-weight: bold;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

#navi li a:hover{
	color: #ccc;
}


#intro {
	height: 100%;
	background-color : #333;
	/*background-image: url("../images/a9.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
}

#intro img {
	vertical-align: middle;
	width: 236px;
}

#intro h1 {
	margin: 0.5em 0;
	color: #fff;
	font-size: 4em;
	font-weight: 500;
}

#intro p {
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	color: #fff;
}

#intro .info {
	margin-top: 8px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
}

#intro .info li {
	display: inline-block;
	margin-right: 10px;
}

#intro .info li a {
	color: #fff;
	margin-left: 3px;
}

#intro .info li a:hover {
	text-decoration: underline;
}

#blendUI {
	background-image: url("../images/8.jpg");
}

#rapidjs {
	background-image: url("../images/7.jpg");
}

#blendAPI {
	background-image: url("../images/6.jpg");
}

#runtime {
	background-image: url("../images/7.jpg");
}

#tankjs {
	background-image: url("../images/8.jpg");
}

.showcase {
	min-height: 640px;
	height: 100%;
	background-color : #333;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
}

.showcase h1 {
	color: #fff;
	font-weight: 400;
	font-size: 3.5em;
	margin:0;
}

.showcase p {
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	color: #fff;
}

.showcase .startBtn {
	margin-top: 1em;
}

.panel {
	max-width: 1200px;
	margin: 70px auto;
	overflow: hidden;
	color: #fff;
	text-align: center;
}

.panel li {
	vertical-align: top;
	display: inline-block;
	width: 24%;
}

.panel li h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.panel li p {
	margin: 15px 0;
	padding: 0 12px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.panel i.fa {
	font-size: 7em;
	margin-bottom: 20px;
	height: 105px;
}


#introbox {
	opacity: 0;
	height: 100%;
	width: 100%;
}

#introbox.mask {
	background: rgba(0,0,0,0.15);
}

#introbox .darkmask {
	background: rgba(0,0,0,0.3);
	padding: 20px 0;
}