<!DOCTYPE html>
<html lang="zh">

<head>

    <% include template/header %>

</head>

<body>

    <div id="wrapper">

        <% include template/navigation %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">系统升级</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <form role="form" action="upload" method="post" enctype="multipart/form-data" id="fileupload">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        请谨慎操作，除非您知道您在做什么！
                    </div>
                    <div class="form-group">
                        <label>目标路径</label>
                        <input class="form-control" placeholder="请输入目标路径" name="targetpath">
                    </div>
                    <div class="form-group">
                        <label>压缩包(仅支持zip格式)</label>
                        <input type="file" name="file" accept ="application/zip">
                    </div>

                    <button type="submit" class="btn btn-primary btn-default">提交</button>
                    <button type="reset" class="btn btn-default">清空输入</button>
                </form>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include template/footer %>
    <script src="js/upload.js"></script>

</body>

</html>
