<!DOCTYPE html>
<html lang="zh">

<head>
    <% include template/header %>
</head>

<body>

    <div id="wrapper">

        <% include template/navigation %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">数据库</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <% if (databasename.length > 0) { %>
                                <%=databasename %>
                            <% }else {%>
                                选择数据库
                            <% } %>

                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                            <% for(var i=0; i<dbnames.length; i++) { %>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="?db=<%=dbnames[i] %>"><%=dbnames[i] %></a>
                                </li>
                            <% } %>

                        </ul>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <% for(var i=0; i<headers.length; i++) { %>
                                            <th> <%= headers[i] %> </th>
                                            <% } %>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for(var j=0; j<data.length; j++) { %>
                                            <tr <% if (j % 2 == 0) { %>
                                                class="odd gradeA"
                                                <% }else {%>
                                                class="even gradeA"
                                                <% } %>
                                                >

                                                <% var info = data[j]; %>

                                                <% for(var i=0; i<headers.length; i++) { %>
                                                <td> <%= info[headers[i]] %> </td>
                                                <% } %>
                                            </tr>
                                        <% } %>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include template/footer %>
    <!-- DataTables JavaScript -->
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').dataTable();
    });
    </script>

</body>

</html>
