<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="云社区连接千万社区，为小区物业管理、居民生活提供便利！" />
		<meta name="keywords" content="云社区, Cloud, 云, 社区, 应用, NodeJS, Web, Native, O2O" />
		<meta content="width=device-width,initial-scale=0.6, maximum-scale=1" name="viewport" />
		<title>云社区</title>
		<link rel="stylesheet" href="css/site.css">
        <link rel="stylesheet" href="font-awesome-4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" href="css/onepagescroll.css">
	</head>
	<body>
		<nav id="navi">
			<ul>
				<li><a href="login">登录</a></li>
				<li><a href="#">文档</a></li>
			</ul>
		</nav>
		<div id="main">
			<div id="intro" name="Clouda+" class="scrollpage">
				<div id="introbox">
					<div id="clouda">
						<img src="images/clouda+.png" alt="">
						<h1>云社区</h1>
						<div id="introtxt">
							<p>云社区连接千万社区，为小区物业管理、居民生活提供便利！</p>
						</div>
					</div>
				</div>
			</div>
			<div id="blendUI" name="BlendUI" class="scrollpage showcase">
				<div class="sermon">
					<h1>社区</h1>
					<p>以“云－端”连结千万社区，提供贴心的消费信息，让社区管理真正便捷，<br>使社区生活更加美好！</p>
					<ul class="panel">
						<li>
							<i class="fa fa-cloud"></i>
							<h3>云端</h3>
							<p>无处不在<br>让社区不再有距离</p>
						</li>
						<li>
							<i class="fa fa-home"></i>
							<h3>家庭</h3>
							<p>足不出户<br>即可享受真正的便利</p>
						</li>
						<li>
							<i class="fa fa-users"></i>
							<h3>用户</h3>
							<p>为您考虑<br>从来没有如此贴心</p>
						</li>
						<li>
							<i class="fa fa-cogs"></i>
							<h3>管理</h3>
							<p>小区管理<br>尽在手掌之中</p>
						</li>
					</ul>
				</div>
			</div>
			<div id="rapidjs" name="RapidJS" class="showcase scrollpage">
				<div class="sermon">
					<h1>消费</h1>
					<p>轻易获取最需要的消费信息，从云而生，<br>为居家生活添彩。</p>
					<ul class="panel">
						<li>
							<i class="fa fa-rocket"></i>
							<h3>便捷</h3>
							<p>去除中间环节<br>完全O2O，速度无法可比</p>
						</li>
						<li>
							<i class="fa fa-mobile"></i>
							<h3>移动</h3>
							<p>随时随地<br>让便捷无处不在</p>
						</li>
						<li>
							<i class="fa fa-cube"></i>
							<h3>定制</h3>
							<p>随心选择<br>按需定制，只要我真正需要的</p>
						</li>
						<li>
							<i class="fa fa-bell-o"></i>
							<h3>灵通</h3>
							<p>周边消息<br>再也不会错过</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<script src="js/move.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/jquery.onepage-scroll.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>
