<!DOCTYPE html>
<html lang="zh">

<head>

    <% include template/header %>

</head>

<body>

    <div id="wrapper">

        <% include template/navigation %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">工具</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Database Command
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <form role="form" action="dbcommand" method="post">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">DB name</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="dbname">

                                                    <% for(var i=0; i<dbnames.length; i++) { %>
                                                        <option><%=dbnames[i] %></option>
                                                    <% } %>

                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Action</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="action">
                                                    <option>find</option>
                                                    <option>update</option>
                                                    <option>insert</option>
                                                    <option>delete</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Arg1</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" type="text" name="arg1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Arg2</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" rows="2" name="arg2"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-danger center-block" type="submit">Execute!</button>
                                        </div>

                                    </fieldset>
                                </form>

                                <div></div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Result:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="10"><%=dbresult %></textarea>
                                    </div>
                                </div>

                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include template/footer %>

</body>

</html>
